apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: kind-bhg
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/FiftyToo/kind-bhg
    targetRevision: main
    path: manifests
    directory:
      recurse: true
  destination:
    server: https://kubernetes.default.svc
    namespace: argocd
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
    - CreateNamespace=true
